<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:g="http://www.backbase.com/2008/gadget"
      xml:lang="en-US">
<head>
  <title>BB Retail-Banking Page - with 5.6.x Compatibility :: Standalone</title>
  <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <!-- CXP 5.6.x shims-->
  <script src="/node_modules/portal5-support/portal5-client-shim.js"></script>
  <!-- Widget Engine -->
  <script src="/node_modules/backbase-widget-engine/dist/widget-engine.js"></script>

  {{#each scripts}}
  <script type="text/javascript" src="{{this}}"></script>
  {{/each}}

  {{#each styles}}
  <link rel="stylesheet" type="text/css" href="{{this}}" />
  {{/each}}

  {{#if theme}}
  <link href="/static/features/%5BBBHOST%5D/{{theme}}/styles/{{theme}}.css" rel="stylesheet" />
  {{else}}
  <link href="/node_modules/theme-bb-default/styles/theme-bb-default.css" rel="stylesheet" />
  {{/if}}
</head>

<body>
  <main class="engine-main">
    <!-- Warn: Don't put anything inside widget-root (including comments), it breaks the rendering -->
    <div id="widget-root"></div>
  </main>
  <script>
    (function(window, doc, undefined) {
      'use strict';

      // get base path
      var getLocation = function(href) {
          var l = document.createElement("a");
          l.href = href;
          return l;
      };

      var location = getLocation(window.location.href);
      var contextRoot = location.protocol + '//' + location.host;
      var widgetName = location.pathname.replace(/\/([^\/]+)(\/.*)?/, '$1');
      
      //setup a widget engine
      window.setupPortalShim && window.setupPortalShim(window, {
            // custom config here
            portalName: 'Standalone development',
            contextRoot: contextRoot
      });

      var widgetEngine = new WidgetEngine({
          logLevel: 'info'
      });

      var widgetPath = contextRoot + '/static/widgets/[BBHOST]/' + widgetName;
      widgetEngine.init({
          widgetPath: widgetPath,
          widgetEl: document.getElementById('widget-root'),
          configFile: 'model.xml' + window.location.search,
          configVars: {
              compat: true,
              apiRoot: '/',
              widgetPath: widgetPath,
              remoteContextRoot: '/',
              contextRoot: contextRoot,
              itemRoot: widgetPath,
              fullConfigReplacement: true
          }
      });

      //turn on support for g:includes etc
      widgetEngine.enableCompatibility();

      //start it up
      widgetEngine.start().then(function(details) {
        console.log(details.message);
      }).catch(function(err) {
        console.error(err);
      });
    }(window, document, undefined));
  </script>
  <!-- CXP 5.6.x libs-->
  <script src="/node_modules/portal5-support/compatibility.js"></script>
</body>
</html>
